body {
  background-color: darkorchid;
  border: 24px #e22bc0 solid;
  margin: 0px;
}
#main {
  border: 20px #5ac6cd solid;
}
#secmain {
  border: 10px #3234cc solid;
  padding-bottom: 120PX;
  background-image: linear-gradient(to right,darkorchid,#e22bc0,#5a5a5a,#ffffff);
}
#program {
  color: #5acdaf;
  text-align: center;
  margin-top: 30px;
}
#class-timer {
  height: 250px;
  width: 250px;
  border: 10px solid magenta;
  border-radius: 100%;
  margin: auto;
  text-align: center;
  background-color: blueviolet;
  margin-top: 60px;
}
#time {
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 20px;
}
#time-input {
  width: 80px;
  height: 25px;
  border-radius: 20px;
  border: purple;
  color: blueviolet;
  background-color: magenta;
  text-align: center;
}
#buttons {
  display: flex;
  justify-content: center;
}
#play-button {
  margin-right: 10px;
  color: magenta;
  background-color: blueviolet;
  border: none;
}
#pause-button {
  color: magenta;
  background-color: blueviolet;
  border: none;
}
